body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  .contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    padding: 20px;
    text-align: center; /* Align text center */
  }

  .part2 {
      padding: 20px;
    max-width: 1000px;
    display: block;
    margin: 10px;
  }

  .part1{
     
      padding: 20px;
    max-width: 1000px;
    display: block;
    margin: 10px;
  
  }



  .text {
    margin-bottom: 20px;
  }

  .image-contain {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
  }

  .image-contain img {
    width:200px; /* Set width to 1/3 of container width with margin */
    height: 250px;
  }

  .image-contain2 img {
    width: 200px; /* Set width to 1/3 of container width with margin */
    height: 250px;
  }

  p {
    line-height: 1.5;
  }

  @media (max-width: 768px) {
    .part {
      flex: 1 100%;
    }
  }